@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
html {
  position: relative;
  overflow-x: hidden !important;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #324e63;
  
}

a, a:hover {
  text-decoration: none;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  width: 100%;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%);
  display: flex;
  background-image: linear-gradient(-20deg, #ffffff 0%,#ffffff  100%);
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
  }
}

.profile-card {
  width: 100%;
  min-height: 460px;
  margin: auto;
  -webkit-box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
          box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: #fff;
  border-radius: 12px;
  max-width: 700px;
  position: relative;
}

.profile-card.active .profile-card__cnt {
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.profile-card.active .profile-card-form {
  -webkit-transform: none;
          transform: none;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  -webkit-box-shadow: 0px 5px 50px 0px #53e88c, 0px 0px 0px 7px rgba(58, 255, 156, 0.5);
          box-shadow: 0px 5px 50px 0px #53e88c, 0px 0px 0px 7px rgb(64, 134, 105);
}

@media screen and (max-width: 576px) {
  .profile-card__img {
    width: 120px;
    height: 120px;
  }
}

.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.profile-card__name {
  font-weight: 700;
  font-size: 24px;
  color: #53e88c;
  margin-bottom: 15px;
}

.profile-card__txt {
  font-size: 18px;
  font-weight: 500;
  color: #324e63;
  margin-bottom: 15px;
}

.profile-card__txt strong {
  font-weight: 700;
}

.profile-card-loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.profile-card-loc__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}

.profile-card-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 35px;
}

.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}

@media screen and (max-width: 768px) {
  .profile-card-inf__item {
    padding: 10px 20px;
    min-width: 120px;
  }
}

.profile-card-inf__title {
  font-weight: 700;
  font-size: 27px;
  color: #324e63;
}

.profile-card-inf__txt {
  font-weight: 500;
  margin-top: 7px;
}

.profile-card-social {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile-card-social__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: #405de6;
  -webkit-box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
          box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
  position: relative;
  font-size: 21px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  .profile-card-social__item {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {
  .profile-card-social__item:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.profile-card-social__item.facebook {
  background: linear-gradient(45deg, #3b5998, #0078d7);
  -webkit-box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
          box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
}

.profile-card-social__item.twitter {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  -webkit-box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
          box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.7);
}

.profile-card-social__item.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  -webkit-box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
          box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
}

.profile-card-social__item.behance {
  background: linear-gradient(45deg, #1769ff, #213fca);
  -webkit-box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
          box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
}

.profile-card-social__item.github {
  background: linear-gradient(45deg, #333333, #626b73);
  -webkit-box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
          box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
}

.profile-card-social__item.codepen {
  background: linear-gradient(45deg, #324e63, #414447);
  -webkit-box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
          box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
}

.profile-card-social__item.link {
  background: linear-gradient(45deg, #d5135a, #f05924);
  -webkit-box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
          box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
}

.profile-card-social .icon-font {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.profile-card-ctr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

@media screen and (max-width: 576px) {
  .profile-card-ctr {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.profile-card__button {
  background: none;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: #fff;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  .profile-card__button {
    min-width: 170px;
    margin: 15px 25px;
  }
}

@media screen and (max-width: 576px) {
  .profile-card__button {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
  }
  .profile-card__button:last-child {
    margin-bottom: 0;
  }
}

.profile-card__button:focus {
  outline: none !important;
}

@media screen and (min-width: 768px) {
  .profile-card__button:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.profile-card__button:first-child {
  margin-left: 0;
}

.profile-card__button:last-child {
  margin-right: 0;
}

.profile-card__button.button--blue {
  background: linear-gradient(45deg, #cfa671, #cfa671);
  -webkit-box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
          box-shadow: 0px 4px 30px rgb(207 166 113);
}

.profile-card__button.button--blue:hover {
  -webkit-box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
          box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
}

.profile-card__button.button--orange {
  background: linear-gradient(45deg, #53e88c, #53e88c);
  -webkit-box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
          box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.35);
}

.profile-card__button.button--orange:hover {
  -webkit-box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
          box-shadow: 0px 7px 30px rgba(223, 45, 70, 0.75);
}

.profile-card__button.button--gray {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #dcdcdc;
  color: #142029;
}

.profile-card-message {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 130px;
  padding-bottom: 100px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.profile-card-form {
  -webkit-box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
          box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  position: relative;
  z-index: 3;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media screen and (max-width: 768px) {
  .profile-card-form {
    max-width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 576px) {
  .profile-card-form {
    padding: 20px;
  }
}

.profile-card-form__bottom {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 576px) {
  .profile-card-form__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.profile-card textarea {
  width: 100%;
  resize: none;
  height: 210px;
  margin-bottom: 20px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px 20px;
  color: #324e63;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.profile-card textarea:focus {
  outline: none;
  border-color: #8a979e;
}

.profile-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(22, 33, 72, 0.35);
  border-radius: 12px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
#heart{
  height: 50px;
  width: 55px;
}
#fav{
  margin-top: 10px;
}
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
  }
  
  .footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  }
  
  .footer-basic li {
  padding:0 10px;
  }
  
  .footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  }
  
  .footer-basic ul a:hover {
  opacity:1;
  }
  
  .footer-basic .social {
  text-align:center;
  padding-bottom:25px;
  }
  
  .footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
  opacity:0.9;
  }
  
  .footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
  }
  

#food{
  color: #000;
}
#favo{
  background: linear-gradient(45deg, #e92121, #db1010);
}

